*{
    box-sizing: border-box;
}


html, body{
    background-color: #24547c;
    height: 100%;
    width: 100%;
    font-family: arial,sans-serif;
    font-size: 12px;
    line-height: 1em;
}

.header {
    background-color: darkblue;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    /* background-color: white; */
    position: relative;
    /* top: 0;
    left: 0; */
    z-index: 198;
   
    margin-bottom: 2px;
    /* display: block; */
    zoom: 1;
    min-width: 1000px;
    border: 2px solid red;
}

.body {
    /* text-align: center; */
    border: 2px solid red;
    height: 2000px;
    min-width : 1000px;
    background-color: white;
}

.carousel {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border: 2px solid red;
    height: 400px;
    min-width : 1000px;
    background-color: white;
    text-align: center;
}

.footer {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border: 2px solid red;
    height: 500px;
    width : auto;
    background-color: white;
}

.graph {
    /* display: inline-block; */
    text-align: center;
    float: left;
    margin: 5px;
    height: 99%;
    width: 50%;
    /* border: 2px green solid; */
}

.description {
    text-align: center;
    margin: 5px;
    float: left;
    /* display: inline-block; */
  
    height: 99%;
    width: 30%;
    /* border: 2px green solid; */
}

.action {
    text-align: center;
    float: right;
    display: block;
    margin: 5px;
    height: 99%;
    width: 17%;
    border: 2px green solid;
}

/* img {
max-width:100%;
max-height:100%;

} */

#search-col1{
    float: left;
    width: 10%;
    height: 100%;
    border: solid 1px green;
}
/* .col-1 {
 
float: left;
width: 8%;

}

.col-2 {
    font-family: "Amazon Ember",Arial,sans-serif;
    color:#555!important;
    float: left;
    width: 92%;
    overflow:hidden;
    
    } */

.thumbnail {
    border-radius: 2px;
    padding: 1px;
    border: 1px solid #a2a6ac;
    margin-bottom: 5px;
    
}

.thumbnail:hover {
    border: 1px solid orange;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.col-1{
    /* border: 1px solid purple; */
    padding: 2px;
}

/* #mainimg  */
#mainimg:hover{
    transform: scale(2);
    
}

/*  */

#submit {

    background-color: orange;

}
.nav-search {
    display: block;
    position: relative;
}